/* BODY */
body{
	font-family: 'Titillium Web', sans-serif!important;
	color: #666666!important;
	padding-top: 45px!important;
	padding-bottom: 0!important;
}
ul, li{
	list-style: none!important;
	margin: 0 !important;
}
figure, section{
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5{
	font-family: 'Anaheim', sans-serif!important;
	margin: 15px 0!important;
	font-weight: normal!important;
}
body a{
	color: #817363!important;
}
body .container .btn{
	color: #fff!important;
	border: none;
	display: block;
	text-align: right;
}
body #searchform{
	margin-left: 30px;
}
body img{
	height: auto!important;
}
.center{
    text-align: center;
}
.block{
    display: block;
}
body small{
    font-size: 85%!important;
}
/* CONTAINER */
.single .content, .page .content, .archive .content{
    background: rgba(255, 255, 255, 0.8);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
    zoom: 1;
}
.content .content {
    background: none repeat scroll 0 0 transparent;
}
.container{
	position: relative;
}
/*.container *{
	z-index: 1;
}*/
.square {
	background: none repeat scroll 0 0 #EFE8E0;
	height: 390px;
	margin-left: -135px;
	position: fixed;
	top: 0;
	width: 390px;
	z-index: -1 !important;
 } 
 .page-id-354 .square,
 .page-id-369 .square,
 .page-id-373 .square,
 .page-id-371 .square
 {
 	background: none repeat scroll 0 0 #76A7A9;
 	transition: background 0.5s ease-in 0s;
 	opacity: 0.4;
 }
 .page-id-369 .square{
 	background-color: #BA5534!important;
 }
 .page-id-373 .square{
 	background-color: #A0C092!important;
 }
 .page-id-371 .square{
 	background-color: #E0CE79!important;
 }
 .page-id-2138 .square{
 	background-color: #e6e6f0!important;
 }
 
/* HEADER */

.header{
	height: 138px;

}
#brand h1{
	margin-top: 0!important;
}
.breadcrumbs{
	border-bottom: 1px solid #EFE8E1;	
	text-align: right;
	font-size: 0.8em;
	margin-bottom: 40px;
}
.page-title{
	text-transform: capitalize;
}

/* MENU */
.header .nzv-collapse{
	margin: 0!important;
}
#header .nav-collapse{
	width: 670px;
	margin: 0!important;
}
.menu-main-menu-container{
    margin-top: 10px;
}
#menu-main-menu {
	margin-left: 15px !important;
}
#menu-main-menu li{
/*border-bottom: 2px solid #EFE8E0;*/
    float: left;
    font-family: 'Anaheim', sans-serif;
    font-size: 1em;
    font-weight: normal;
    height: 40px;
    line-height: 2.5em;
    margin-left: 10px !important;
    min-width: 120px;
}
#menu-main-menu li li{
	margin: 0!important;
	height: 25px;
}
#menu-main-menu li a{
	margin-top: -5px;
	color: #333;
	border-bottom: 2px solid #EFE8E0;
}
#menu-main-menu li li a{
	color:#fff!important;
}
#menu-main-menu li li a:hover{
	color:#333!important;
}
#menu-main-menu .dropdown .caret{
    margin-left: 12px;
    margin-top: 18px;
}
#menu-main-menu ul.dropdown-menu, body #menu-main-menu .dropdown-menu {
    background: none repeat scroll 0 0 #EFE8E0;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    /*font-size: 0.9em;
    width: 140px !important;*/
    min-width: 115px!important;
    padding: 0 !important;
    top: 32px;
}
#menu-main-menu > li >a:hover,
#menu-main-menu li.current-menu-item a,
#menu-main-menu li.current-menu-parent a,
#menu-main-menu li.current-menu-ancestor a,
#menu-main-menu li.current-menu-ancestor li.current-menu-item a{
	background: transparent none;
	border-bottom-width: 7px;
	padding: 0 0 -3px 0;
	color: #333!important;
}
#menu-main-menu li.current-menu-ancestor li.menu-item{
	border-bottom-width: 2px!important;
}
#menu-item-356{
	clear: both;
}
#menu-main-menu #menu-item-317 a, #menu-main-menu #menu-item-356 a, #menu-main-menu #menu-item-857 a{
	border-color: #76A7A9;
}
#menu-item-317 > ul.dropdown-menu, #menu-item-356 > ul.dropdown-menu, #menu-item-857 > ul.dropdown-menu {
	background-color:#76A7A9;
}
#menu-main-menu #menu-item-337 a, #menu-main-menu #menu-item-377 a{
	border-color: #BA5534;
}
#menu-item-337 > ul.dropdown-menu, #menu-item-377 > ul.dropdown-menu {
	background-color: #BA5534;
}
#menu-main-menu #menu-item-339 a, #menu-main-menu #menu-item-380 a{
	border-color: #E0CE79;
}
#menu-item-339 > ul.dropdown-menu, #menu-item-380 > ul.dropdown-menu{
	background-color: #E0CE79;
}
#menu-main-menu #menu-item-338 a, #menu-main-menu #menu-item-379 a{
	border-color: #A0C092;
}
#menu-item-338 > ul.dropdown-menu, #menu-item-379 > ul.dropdown-menu{
	background-color: #A0C092;
}
#menu-main-menu #menu-item-2140 a{
	border-color: #8f86bd;
}
#menu-item-2140  > ul.dropdown-menu{
	background-color: #8f86bd;
}

body .dropdown-menu li > a:hover,
body .dropdown-menu .active > a,
body .dropdown-menu .active > a:hover,
#menu-main-menu li .dropdown-menu li.current-menu-item a{
	background-color: #fff!important;
}
#menu-main-menu li{
	position: relative;
}
#menu-main-menu li:hover .dropdown-menu{
	display: block;
}

#menu-main-menu .dropd .caret {
    margin-left: 12px;
    margin-top: 18px;
}
.dropd .caret {
    margin-left: 2px;
    margin-top: 8px;
}

#claim-header {
	margin:55px 5px 0;
}
#claim-header h3{
	font-family: 'Schoolbell', cursive;
	font-size: 19px;
	font-weight: normal;
	margin-bottom: 0px !important;
	text-align: right;
}
#searchform #s{
	width: 220px !important;
}
.navbar .navbar-inner .container-fluid,
.navbar .navbar-inner .container{
	padding: 2px 20px!important;
}
.navbar #admin-area {
	float: right;
	padding: 10px;
}
#fb-link {
	margin-left: 20px;
	margin-top: 3px;
	width: 38px;
}

/* SLIEDER */

#slider{
	height: 350px; 
	float: left;
	position: relative;
}
#slider #prev, #slider #next{
	background: url("images/slider_nav_bg.png") no-repeat scroll 5px 10px transparent;
	display: block;
	height: 31px;
	left: 20px;
	margin-top: -46px;
	padding: 10px 5px;
	position: absolute;
	top: 50%;
	width: 20px;
	text-indent: -999999px;
}
#slider #next{
	background-position: -20px 10px!important;
	right: 20px!important;
	left: inherit!important;
}
#slider img{
	width: 98%;
}

#slider .carousel-caption{
	/*background: transparent none;*/
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    color: #111111;
    font-weight: normal;
    right: 18px;
    left: auto;
    padding: 0px 15px;
    position: absolute;
    bottom: 50px;
    width: 70%;
    display: table-cell;
    vertical-align: middle;
}

body #slider .carousel-caption p{
	font-size: 22px;
	margin-bottom: 15px;
	font-family: 'Anaheim', sans-serif!important;
	color: #111!important;
	padding-top: 10px;
}
body #slider .carousel-caption h3{
	font-size: 40px!important;
	font-weight: normal;
	margin: 0!important;
	padding-bottom: 10px;
}

/*#slider .carousel-caption h3{
   background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
   display: table-cell;
   font-family: 'Crete Round',serif;
   font-size: 25px;
   font-weight: normal;
   line-height: 30px;
   padding: 20px;
   text-align: left;
   vertical-align: middle;
   display: block;
}*/

#slider .carousel-control{
	top: 45%!important;
	border: none!important;
	color: #fff!important;
	font-size: 125px!important;
}

.container #text-6 .span5{
	margin-left: 15px!important;
	width: 435px!important;
}
.container #text-6 .right{
	float: right;
}
#claim {
	overflow: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	/*background: #fff none;
	box-shadow: 0 0 3px #EFE8E0;*/
	text-align: center;
	margin: 0;
}
#claim .btn{
	margin: 19px 0 0;
}
#claim .span8{
	text-align: justify;
	width: 73%;
}
#claim .span8 h2{
	margin: 0 0 10px !important;
}


/*.titoloclaim{
    color: #4D4D4D;
	text-decoration:none;
	font-size:13px;
	padding-left: 20px;
	padding-right: 10px;
	font-weight: bold;
}
 
.testoclaim {	
	color: #000000;
	font-size:12px;
	line-height: 12px;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-right: 25px;
	width: 500px;
}

.bottoneclaim{
	padding-top: 11px;
	padding-right: 25px;
	margin-left: 55px;
}
*/
/* LAST USERS */
#last-user{
	border: solid #EFE8E1;
	border-width: 1px 0;
	margin-top: 25px;
	padding-bottom: 12px;
}
#last-user .section-title{
	margin-left: 10px!important;
	font-size: 22px;
}

#last-user figure{
	/*height:220px;
	overflow: hidden;
	position: relative;*/
}
#last-user figure a{
	display: block;
	width: 210px;
	height: 210px;
	overflow: hidden;
}
#last-user figure img{
	width: 220px;
	height: auto;
	min-height: 210px;
}

#last-user figure .info-user {
    /*background: rgba(0,0,0,0.5);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
    zoom: 1;
    
    background: #9AAFB4;
    bottom: 0;
    color: #FFFFFF;
    position: absolute;*/
    padding: 10px 0;

    text-align: left;
    width: 190px;
   /* height: 70px;*/
    height: 45px;
}
#last-user figure .info-user a {
	color: #666!important;
	height: auto;
}
#last-user figure .info-user span{
	color: #76A7A9 !important;
	text-transform: uppercase;
}
.professioni{
	font-weight: normal;
	line-height: 20px;
	margin: 7px 0 0 !important;
	font-size: 17px;
}

#claim-nl{
	padding-left: 20px;
	padding-right: 10px;
	min-height: 210px;
	width: 24%;
	padding-top: 7px;
}
#claim-nl h3{
    font-size: 15px !important;
    line-height: 19px;
    margin: 0 !important;
    text-transform: uppercase;
}
#claim-nl #register-home{
	background: none repeat scroll 0 0 #76A7A9;
	display: block;
	padding: 4px;
	color: #fff!important;
	text-align: center;
	width: 90%;
	text-transform: none;
}
#ns_widget_mailchimp_form-2 label{
	font-size: 10px;
	color: #999;
	margin: 0!important;
}
#ns_widget_mailchimp_form-2 input{
	margin: 0 0 1px;
}
#ns_widget_mailchimp_form-2 input[type=submit]{
	background: none repeat scroll 0 0 #BAAB9A;
	border: medium none;
	border-radius: 0 0 0 0;
	width: 95% !important;
	color: #fff;
	font-family: 'Anaheim',sans-serif !important;
	font-size: 15px;
}

/* BLOG AREA HOME */
#blog-eventi img{
	width: 100%;
	height: 210px;
}
.category-blog .row-fluid .span4{
	height:650px;
}

/* ULTIMI AGGIORNAMENTI */

.utenti {
	padding-top: 35px; 
}

.fascia {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #4D4D4D;
	border-bottom: 2px solid #EFE8E1;
	border-top: 1px solid #EFE8E1;  
}

.nominativi{
	background-color:#CCCCCC;
	color: white;
	font-size:14px;
	line-height: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.news, div.news {
	background: #EFE8E1 url(images/boxnews.jpg) no-repeat -7px top;
	color: #4D4D4D;
	margin-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 200px;
	width:225px;
}

.testonews{
    color: #4D4D4D;
	text-decoration:none;
	font-size:13px;
	line-height: 14px;
	padding-top: 5px;
	padding-bottom: 14px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}

.titoli {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	color: #4D4D4D;
	font-weight: bold;
}

.inserimento{
	padding-left: 10px;
	padding-right: 10px;
}


/* FINE ULTIMI AGGIORNAMENTI */


/* BLOG */

#blog-eventi {
	margin-top: 0;
	color: #4D4D4D;	
	border-top: 1px solid #EFE8E1; 
	height: 320px;
	padding: 0;
	
	/* linea inferiore -- padding-bottom: 2px;
	border-bottom: 2px solid #EFE8E1; --*/
}

.testoblog {
	/*color: #000000;
	font-size:12px;
	line-height: 12px;
	*/padding-top: 5px;
	padding-bottom: 5px;
}

.richiamo {
	background-color: #EFE8E1;
	margin-top: 13px;
	margin-right: 10px;
	width: 15px; 
	height: 1px;; 
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
}

/* EVENTI */

.titoloeventi{
	padding-top: 5px;
	padding-left: 20px;
	padding-bottom: 5px;
	font-size: 16px;
	color: #4D4D4D;
	font-weight: bold;
	width:240px;
}

.fasciaeventi {
	margin-left: 20px;
	padding-top: 15px;
	float: left;
	color: #4D4D4D;
	border-top: 1px solid #EFE8E1; 
	width:220px; 
	height: 320px;
	
	/* linea inferiore -- padding-bottom: 2px;
	border-bottom: 2px solid #EFE8E1; --*/
}

.testoevento {
	color: #000000;
	font-size:11px;
	line-height: 12px;
	padding-bottom: 3px;
	margin: 0 0 0 0px;
}

.titoloevento{
	margin: 0 0 0 0px;
}

.testodata{
	margin-top: 5px;
	padding-left: 10px;
	width:40px;
	height: 40px;
}

.bloccoevento{
	float: left;
	color: #4D4D4D;
	border-bottom: 2px solid #EFE8E1;
	border-top: 1px solid #EFE8E1; 
	width:160px; 
	margin-left: 10px;
}

.evento{
	float: left;
	color: #4D4D4D;
	padding-bottom: 12px; 
}
.dataevento{
	position: relative;
	height: 45px;
	padding: 3px;
	background: #EFE8E0;
}
.dataevento span{
	position: absolute;
	text-transform: uppercase;
}
.date-day {
	font-size: 22px;
	left: 3px;
	top: 3px;
}
.date-month {
	bottom: 3px;
	font-size: 18px!important;
	left: 4px;
}
.date-year{
	font-size: 10.5px;
	   right: 0px;
	   top: 4px;
	   -webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	   -ms-transform: rotate(-90deg);
	   transform: rotate(-90deg);
	   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3);
}

/* FASCIA */
.unico {
	height: 100%;	  
}

body .blog{	
	width: 700px;
	float: left;  
}

.eventi{
	float: left;
	width: 240px; 
}

/* PROFILI */
.single-professionisti .square,
.tax-categorie_professionisti .square{
	background-color: #bfd6da;
}
/*.tax-categorie_professionisti .attachment-thumbnail{
	height: auto;
}
.tax-categorie_professionisti .info-user{
	background-color: #9AAFB4;
	clear: both;
	line-height: 12px !important;
	margin-left: 1.5px;
	width: 100%;
	height: 45px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
}
.tax-categorie_professionisti .info-user h3{
	font-size: 14px;
	line-height: 15px;
	padding: 5px 10px;
}
.tax-categorie_professionisti .info-user a{
	color: #fff!important;
}
.tax-categorie_professionisti article.span2{
	position: relative;
	overflow: hidden;
	height: 130px;
}
.tax-categorie_professionisti article.span2 .attachment-thumbnail{
	position: absolute;
	top: -30px;
}
*/
.single .social, .page .social{
	border-top: 1px solid #EFE8E1;
	margin-top: 10px;
	padding: 10px 0;
}
.facebook-room a{
	font-size: 20px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
}
.facebook-room a img{
	width: 180px;
	height: auto;
}

/* Search result*/

.title-search{
	line-height: 28px!important;
	margin: 0 0 5px!important;
	text-transform: capitalize;
}
.search article, .search article.span3{
	padding-bottom: 10px!important;
	border-bottom: 1px solid #EFE8E1!important;
	min-height: 430px!important;
	margin-bottom: 25px;
}

/* FOOTER */

#footer{
	border-top: 4px solid #F7F3F0;
	background-color: #EFE8E1;
	/*margin-top: 25px;*/
	padding: 25px 0;
}
#footer .credits{
	margin-top: 40px;
	border-top: 1px solid #817363;
	padding-top: 15px;
}
#footer .credits, #footer .credits p{
	font-size: 11px!important;
}
#footer .credits .right{
	margin-right:1.5% !important;
}
#footer .widget-title{
	font-size: 18px!important;
}
#footer .widget_text a.button{
	background: none repeat scroll 0 0 #817363;
	color: #FFFFFF !important;
	font-size: 12px;
	padding: 0 5px;
}
.pulsantifooter{
	color: #4D4D4D;
	font-size: 12px;
	margin-left: -15px;
}

.pulsantifooter li{
	list-style-type:none;
}

.contattifooter{
	color: #4D4D4D;
	font-size: 12px;
	line-height: 12px;
	width: 200px;
}



/* ----------------SCHEDA PROFESSIONISTA -------------- */

.single-professionisti .container-fluid,
.single-professionisti .container {
	padding: 20px!important;
}
.single-professionisti img{
	height: auto!important;
}
.bio{
	font-size: 12px;
	line-height: 16px;	
}

#anagraficabase li{
list-style-type:none;
line-height: 20px;
font-size: 14px;
color: #76A7A9;
}
#anagraficabase li strong{
	color: #666666 !important;
}
#anagraficabase .big, #anagraficabase .big strong, #anagraficabase .big span{
	font-size: 20px;
	color: #817363 !important;
}
#anagraficabase .no-user{
	border: solid #BAAB9A;
	border-width: 1px 0;
	padding: 10px;
	line-height: 20px;
    background: none!important;
    font-size: 14px;
    color: #BAAB9A !important;
}
#anagraficabase .no-user .big{
    font-size: 14px;
    color: #BAAB9A !important;
}
.no-user #register-user {
	background: none repeat scroll 0 0 #BAAB9A;
	color: #FFFFFF !important;
	padding: 1px 20px;
	text-shadow: none;
}

li.big{
	margin-bottom: 5px!important;
}
.title-profile{
	border-bottom: 1px solid #EFE8E1;
	font-size: 23px;
	margin-bottom: 10px;
	padding: 10px 0;
}
.nome{
	font-size: 38px;
	line-height: 38px;
	font-weight: bold;
	margin: 5px 0!important;
}

.professione{
	font-size: 16px;
	line-height: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.professione ul{
	margin:0;padding:0;
}

.testobio{
	color: #4D4D4D;
	font-size: 12px;
	line-height: 12px;	
}

.foto, .bio img{
	color: #000000;
	font-size: 12px;
	line-height: 12px;
	width: 300px;
	padding-right: 15px;
	padding-bottom: 10px;
	float: left;	
}

.bio.span4 {
    margin-left: 0;
}

/* PROGETTI */

.progetti{
	color: white;
	font-size:14px;
	line-height: 14px;
    z-index: 10px;
	
}

.vistaprogetti{
	color: white;
	font-size:14px;
	line-height: 14px;
}

.didascalia{
	background-color:#CCCCCC;
	color: white;
	font-size:14px;
	line-height: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 20px;
}
/* PROFESSIONISTI */
.total-found{
	font-size: 20px;
	/*margin-left: 30px;*/
}
.filter-taxonomies{
	margin: 5px 0px 30px;
}
.page-template-page-professionisti-tpl-php .sorting{
	margin-left: 0!important;
}
.page-template-page-professionisti-tpl-php .info-user,
.archive .info-user{
	height: 110px;
}
.page-template-page-professionisti-tpl-php .filter-taxonomies ul li{
	display: inline;
	padding: 0 10px;
	text-transform: uppercase;
}

/* SINGLE */
.single .container-fluid, .page .container-fluid{
	/*background: #fff none;*/
}
.page .title, .single .title{
	font-size: 40px;
	padding: 0 0 10px;
	border-bottom: 1px solid #EFE8E1;
}
/* PREFERITI */

.preferiti{	
	float: left;  
}

.elenco{	
	padding-bottom: 15px;  
}


.collaborazioni{	
	float: left;
    width: 100% !important;
}

.fasciapreferiti {	
	padding-top: 15px;
	
	color: #4D4D4D;
	 
	border-top: 1px solid #EFE8E1; 
	width: 460px; 
}

.fasciacollaborazioni {
	margin-left: 20px;
	padding-top: 15px;
	
	float: left;
	color: #4D4D4D;
	
	border-top: 1px solid #EFE8E1; 
	width:460px; 
}

.fasciaunita {	
	color: #4D4D4D;
	border-bottom: 2px solid #EFE8E1; 
}


#slide-change-collaborazioni {
    left: -30px !important;
    width: 100% !important;
}

#edit-change-collaborazioni {
    padding-left: 15px;
    padding-right: 15px;
}

#slide-change-collaborazioni form input{
    float: left !important;
}

#slide-change-collaborazioni .action-btn {
    float: right;
}

#slide-change-collaborazioni .row-fluid ul {
    clear: both;
}

article.c-professionals .row-fluid {
    clear: both;
}
body .ui-button {
    background: none repeat scroll 0 0 #EFE8E1;
    margin-top: 5px;
    padding: 10px;
}

body .ui-button:hover {
    text-decoration: underline;
}

.element-hide {
    display: none !important;
}
body .action-btn{
    margin: 20px;
}
body .action-btn .ui-button {
    margin: 0 10px;
    border-radius: inherit;
    box-shadow: none;
}
body .action-btn .cancel-btn{
    background: #ececec none;
    color: #BA5433;
}


/* ---MENUSOTTO--- */

.riepilogo {
	padding-top: 15px;
	padding-bottom: 15px;
	float: left;
	color: #4D4D4D;
	list-style: none outside none;
}

.menuriep {
  color: #000000;
  list-style: none;
  padding-top: 15px;
  padding-left: 0px;
}

ul, ol {
    margin: 0 0 0px 0px;
}

.menuriep li {
  color: #000000;
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}

.menuriep .divider {
  padding: 0 5px;
  color: #ccc;
}

.menuriep .active {
  color: #999999;
}

/* Validate style*/
/* New styles below */

label.valid {
    width: 24px;
    height: 24px;
    background: url('images/valid.png') center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

/* generic */
.clear{
	clear: both;
}
.right{
	float: right!important;
}
body .btn, 
body form .wpcf7-submit {
	border-radius: 0!important;
	background: #baab9a none;
	text-shadow: none;
}
body form .wpcf7-submit{
	padding: 10px;
	border: none;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}
body .btn:hover{
	color: #333;
}
body .row-fluid [class*=span]{
	margin-left: 1.5%!important;
}

input, textarea, select, .uneditable-input{
	width: 90%!important;
}
.search-query{
	background: transparent none!important;
	border: solid #EFE8E0 !important;
	border-width: 0 0 2px;
	border-radius: 0!important;
	box-shadow: none!important;
}

#r012_register_form{
	padding: 20px;
}
#r012_register_form #r012_biografia_id{
	width: 80%!important;
}
#r012_register_form #registerbtn{
	font-size: 20px;
	margin: 40px 20px;
	padding: 24px;
	text-align: center;
	width: 97% !important;
}
#r012_register_form p{
	min-height: 55px;
}
#r012_register_form p.control-group {
	position: relative;
}
#r012_register_form p input[type=hidden]{
	height:0;
	display: none;
}
#r012_register_form p span{
	line-height: 50px;
}
#r012_register_form input[type=checkbox]{
	width: 10%!important;
	display: inline!important;
}
#r012_register_form p.p-captcha{
	min-height: inherit;
}
#r012_register_form legend{
	width: inherit;
}

#r012_register_form .control-group .error{
	position: absolute;
	right: 30px;
	top: 50px;
}


/* Richiedi iscrizione */
#wpcf7-f2149-p2148-o1{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 3px solid #EFE8E0;
	margin: 30px auto !important;
	max-width: 50%;
	padding: 30px 0 30px 30px !important;
}

header.messaggio{
    text-align: center !important;
}

#blog-eventi .span12 .span6{
	margin-left: 0!important;
	margin-right: 1%!important;
}
body blockquote p{
	font-size: 14px;
	font-style: italic;
}
body .thumb-single{
	margin: 0 20px 20px 0!important;
}
body .thumb-single img{
	width: 100%;
	height: auto!important;
}
body .icon-time{
	margin-top: 5px!important;
}
body code {
	background: transparent none;
	color: inherit;
	border: none;
    font-family: 'Titillium Web',sans-serif !important;
    padding: 2px 4px;
    line-height: 20px;
     }

/* Captcha */

#recaptcha_area {
    float: left;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-top: -15px;
}

/* tax-categorie_professionisti */
.tax-categorie_professionisti .container-fluid .span2,
.page-template-page-professionisti-tpl-php .container-fluid .span2{
	width: 155px;
	height: 270px;
}
/* page login */
#loginform{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 3px solid #EFE8E0;
	clear: both;
	margin: 0 auto;
	padding: 30px 30px 10px;
	width: 42%;
}
#loginform label{
	text-transform:uppercase;
}
#loginform #rememberme{
	display: inline !important;
	width: 10% !important;
}
#loginform #wp-submit{
	border-radius: 0!important;
	font-size: 20px;
	color: #fff;
	padding: 24px;
	text-align: center;
	width: 97% !important;
	background: none #BAAB9A;
}
#lost-password {
	display: block;
	padding: 20px;
	text-align: center;
 }
 /* Safari */
 @media screen and (-webkit-min-device-pixel-ratio:0)  {
   #menu-main-menu ul.dropdown-menu{ width: 120px; min-width: 120px!important; max-width: 120px!important; margin: 0!important;}
   #menu-main-menu ul.dropdown-menu li { width: 120px!important; }
   #menu-main-menu ul.dropdown-menu li{ float: none;}
   #menu-main-menu ul.dropdown-menu li a{ display: block;}
 }

/*
NEW ELEMENTS
FOR PROFESSIONISTI-PAGE
*/

/*
SEZ. ATTIVITA'
*/

.title-profile {
    border-bottom: 2px solid #EFE8E1 !important;
    font-size: 23px;
    margin-bottom: 10px;
    padding: 10px 0;
}

.busyness {
    /*border-bottom: 1px solid #EFE8E1;*/
    border-top: 1px solid #EFE8E1;
    font-size: 14px;
}

.busyness h4 {
    font-size: 23px;
    margin-bottom: 10px;
    padding: 10px 0;
}

.busyness-card {
    padding-bottom: 20px;
    margin-left:-5px!important;
}

.title-busyness {
    color: #7ABED3;
    border-right: none !important;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 0!important;
}

.busyness-card span {
    border-right: 2px solid #7ABED3;
    line-height: 25px;
    padding-right: 5px;
    margin-left: 5px;
}

/*
SEZ. PROJECT
*/

.project {
    /*border-bottom: 1px solid #EFE8E1;*/
    border-top: 1px solid #EFE8E1;
    padding-bottom: 5px;
}

.project .span3 {
    width: 280px;
    height: 280px;
    /*padding-bottom:20px;*/
}

.project figure img{
    background: transparent url('images/add_project.png') no-repeat center 50%;
}
.prov-anno {
    margin-left: 5px;
}

.info-project {
    color: #ffffff;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-9 */
    color: #FFFFFF;
    display: block;
    margin-top: -70px;
    padding: 15px;
    position: absolute;
    /*width: 26%;*/
    z-index: 45;
}

.project article.span4 {
    margin-bottom: 20px;
}

.dati-project {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-9 */
    padding: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.project .opacity {
   /* opacity: 0;*/
   display: none;
}
.project figure{
    position: relative;
    min-height: 290px;
    height: 290px !important;
}
.project figure:hover .opacity, .project figure .opacity:hover,
.project article:hover {
    /*opacity: 1!important;*/
    display: block;
}
.dati-project a {
    background: none repeat scroll 0 0 #BFD6DA;
    padding: 4px 20px;
    vertical-align: middle;
    border: 1px solid #fff;
    position: relative;
    top: 47%;
    margin: 0 12px;
    z-index: 2000;
}
/*.dati-project a {
    background: none repeat scroll 0 0 #BFD6DA;
    border: 1px solid #FFFFFF;
    left: 19%;
    margin: 0 12px;
    padding: 4px 20px;
    position: absolute;
    top: 47%;
    vertical-align: middle;
    width: 40%;
    z-index: 200;
}*/
.single-professionisti .project h2 {
    color: #77A7A9;
    font-weight: bold;
    margin-bottom: 0 !important;
}
.project .oggetto {
    color: #333333;
    margin: 0 !important;
}

.dati-project p {
    color: #ffffff !important;
    margin-left: 0px !important;
    font-size: 13px !important;
}

body .project .row-fluid [class*="span"]:first-child {
    margin-left: 0px !important;
}

/*body .project .row-fluid [class*="span"]{
	margin-left: 2.5641% !important;
}*/

/*.info-project p{
	margin-bottom: 0px;
}

.info-project a {
	color: #ffffff !important;
}*/

/* Edit & New Project */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.preview{
    position: absolute;
    top: 0;
    left: -15px;
    margin: 0!important;
    padding: 0!important;
}
.preview iframe, iframe{
    border: none;
    margin: -7px!important;
}

.big-input {
    font-size: 20px;
    height: inherit;
    padding: 7px;
}
#preview-project #upload_foto_modifica{
    min-height: 310px;
}
#preview-project #upload_foto_modifica:after {
    border-top: 2px solid #EFE8E0;
    clear: both;
    color: #EFE8E0;
    content: "▾";
    display: block;
    font-size: 50px;
    line-height: 5px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

body .edit-project [class*=span]{
    margin-left: 1%!important;
}

#image-list .span6:first-child{
    margin-left: 1% !important;
}
#image-list .single-image{
    border: 1px solid #cecece;
    margin-top: 10px!important;
    padding: 10px;
    background: none #FCF9F6;
    min-height: 170px;
}

#image-list .single-image p{
    margin-bottom: 5px!important;
}
.r012-button-aggiungi-image {
    clear: both;
    color: #DA0F00 !important;
    display: block;
    float: none;
    font-size: 16px !important;
    margin-top: 30px !important;
    padding: 5px 20px;
}

.collaborazioni label {
    min-height: 40px;
}
.collaborazioni .element-collaborazioni label{
    display: inline;
}
.element-collaborazioni input {
    width: 20px !important;
}

/* gallery project */
.view-project .carousel .item {
    display: none;
    text-align: center !important;
    font-size: 16px;
    line-height: 1.2em;
}
.view-project .carousel .active{
    display: block;
}
.view-project .carousel .item img:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
}
/*
SEZ. COLLABORAZIONI
*/
body .collaborations h3{
    margin: 5px 0!important;
    padding: 0!important;
    font-weight: bold;
    font-size: 20px;
}
body .collaborations .title-busyness{
    font-size: 18px!important;
}
.c-professionals h3{
    border-bottom: 2px solid #77A7A9;
    color:#77A7A9 !important;
}

.c-professionals span{
    font-size: 14px;
}

.title-professionals {
    color: #77A7A9 !important;
    border-right: none !important;
    text-transform: lowercase;
    font-size: 20px !important;
    background: none !important;
}

.c-professionals .busyness-card span {
    border-right: 2px solid #77A7A9;
}

.title-companies {
    color: #BA5433 !important;
    border-right: none !important;
    text-transform: lowercase;
    font-size: 20px !important;
}

.c-companies .busyness-card span {
    border-right: 2px solid #BA5433;
}

.c-companies h3{
    border-bottom: 2px solid #BA5433;
    color: #BA5433 !important;
}

.title-operators {
    color: #A0C092 !important;
    border-right: none !important;
    text-transform: lowercase;
    font-size: 20px !important;
}

.c-operators .busyness-card span {
    border-right: 2px solid #A0C092;
}

.c-operators h3{
    border-bottom: 2px solid #A0C092;
    color:#A0C092 !important;
}

.title-retailers {
    color: #E0CD78 !important;
    border-right: none !important;
    text-transform: lowercase;
    font-size: 20px !important;
}

.c-retailers .busyness-card span {
    border-right: 2px solid #E0CD78;
}

.c-retailers h3{
    border-bottom: 2px solid #E0CD78;
    color:#E0CD78 !important;
}

.c-professionals .title-busyness {
    color: #77A7A9 !important;
    text-transform: lowercase;
}

.c-companies .title-busyness {
    color: #BA5433 !important;
    text-transform: lowercase;
}

.c-operators .title-busyness {
    color: #A0C092 !important;
    text-transform: lowercase;
}

.c-retailers .title-busyness {
    color: #E0CD78 !important;
    text-transform: lowercase;
}

.c-retailers span, .c-operators span, .c-companies span, .c-retailers span {
    font-size: 14px;
}

/*
MENU'
AZIENDE
*/

.menu-aziende {
    padding-bottom: 20px;
}

.row-fluid.archive-companies {
    margin-top: 15px;
}

/*.red .square{
    background-color: #BA5534!important;
    background: none repeat scroll 0 0 #76A7A9;
    transition: background 0.5s ease-in 0s;
    opacity: 0.4;
    height: 390px;
}*/

.name-azienda, .luogo-azienda {
    text-transform: uppercase;
    color: #333333;
    font-size: 16px;
    text-transform: uppercase;
}

.info-azienda{
    min-height: 1px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.info-azienda p {
    margin: 0px !important;
}

body .content-aziende .row-fluid [class*="span"]:first-child {
    margin-left: 0px !important;
}

.content-aziende figure {
    max-height: 285px;
    overflow: hidden;
}

.logo-azienda {
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    max-width: 160px;
    height: auto;
}

/*
SCHEDA
SINGOLA
AZIENDA
*/

.single-aziende #anagraficabase li {
    color: #BA5433;
    font-size: 14px;
    line-height: 20px;
    list-style-type: none;
}

/*
SCHEDA
PROGETTO
SINGOLO
*/

.top-gallery span {
    margin-left: 75px;
    margin-top: -40px;
    position: absolute;
}

.comments {
    margin-top: 20px;
}

strong.designer a {
    color:#666666 !important;
}

strong.designer a:hover {
    color:#666666 !important;
}

body .span12.social {
    margin-left: 0px !important;
}

.gallery .span3 {
    height: inherit !important;
    margin-bottom: 10px;
}

.gallery figure {
    position: relative;
    overflow: hidden;
}

/*.gallery figure a img:hover {
	opacity: 0.6;
}*/

.gallery figure a{
    display: block;
}

span.plus {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    float: left;
    font-size: 25px;
    top: 0;
    left:0;
    position: absolute;
    top: 0;
    z-index: 999;
    line-height: 195px;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

figure span.plus{
    display: none;
}

figure:hover span.plus{
    display: block;
}

/*
SEZIONE
EDITING
SCHEDA PROGETTISTA
*/
.modifica .big {
    border-bottom: 2px solid #EFE8E1 !important;
    display: block;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 6%;
}
.change {
    /*float: right;
    font-size: 12px !important;*/
    margin-bottom: 15px !important;
    position: relative;
}

.change a {
    margin-top: 5px;
    font-size: 12px!important;
    /*background: none repeat scroll 0 0 #EFE8E1;
    padding: 10px;
    display: block;*/
}

.change a[id^="change"] {
    color: #DA0F00 !important;
    float: right;
}

.change a[id^="change"]:before {
    content: "✎";
    font-size: 18px;
    padding-right: 6px;
}

.change a[id^="change"]:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

#slide-change-foto iframe {
    display: none !important;
}

#slide-change-foto .action-btn input {
    float: left;
    margin-bottom: 0 !important;
    margin-right: 1% !important;
    margin-top: 0 !important;
    padding-bottom: 5px;
    width: 43% !important;
}

.editable-profile{
    position: absolute;
    z-index: 20;
    right: 0;
    width: 100%;
    background: #fff none;
    font-size: 12px;
    border: solid #eee;
    border-width: 0 1px 1px;
    top: 40px;
    box-shadow: 0 -5px 20px #CCCCCC;
}
.editable-profile:before {
    color: #FFFFFF;
    content: "▴";
    font-size: 130px;
    right: 0;
    position: absolute;
    top: -25px;
}
.editable-profile input,
.editable-profile select{
    font-family: sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    padding: 2px;
}
.editable-profile label{
    font-size: 13px;
    color: #999;
    padding-top: 6px;
}
.editable-profile .anagraficabase li{
    clear: both;
}
#photo-edit {
    border: medium none;
    margin: 0 -10px !important;
}
input.span12, textarea, .uneditable-input.span12 {
    width: 100% !important;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 260px !important;
}
.editing select.span5 {
    width: 353px !important;
}
input.span2, textarea.span2, .uneditable-input.span2 {
    width: 160px !important;
}

.editing input[type="checkbox"] {
    display: inline !important;
    width: 3% !important;
}

body .editing p.span4{
    margin-left: 0px !important;
}

.bio.span12 {
    margin-left: 0px !important;
}

.bio textarea {
    width: 99% !important;
    font-size: 12px;
}

.editing .bio.span4 {
    margin-left: 0px !important;
}

body home.row-fluid [class*="span"] {
    margin-left: 1.5% !important;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0px !important;
}
.editable-profile form{
    padding: 20px;
    margin-bottom: 0!important;
}
.editable-profile .container-fluid{
    padding: 0!important;
}

/*
add attività
*/

.change.span2 a, .change.span3 a {
    margin-top: 15px;
}

.add {
    padding: 15px 20px;
    margin-top: -25px;
    margin-bottom: 15px;
}

.add strong {
    text-transform: uppercase;
    background: none !important;
}

.add ul {
    margin: 10px 0 !important;
}

.add li {
    display: inline;
    border-right: 2px solid #dddddd;
    margin-right: 5px !important;
    padding-left: 7px;
}

.add h3 {
    color: #7ABED3 !important;
}
/*
*/

.editing .busyness-card ul {
    display: inline;
}
.editing .busyness-card > li.title-busyness {
    background: none !important;
    padding-left: 0px !important;
}
.editing .busyness-card > li {
    border-right: 2px solid #7ABED3;
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 2;
    background: -moz-linear-gradient(top, rgba(122,190,211,0.6) 0%, rgba(122,190,211,0.6) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,190,211,0.6)), color-stop(100%,rgba(122,190,211,0.6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(122,190,211,0.6) 0%,rgba(122,190,211,0.6) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(122,190,211,0.6) 0%,rgba(122,190,211,0.6) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(122,190,211,0.6) 0%,rgba(122,190,211,0.6) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(122,190,211,0.6) 0%,rgba(122,190,211,0.6) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#997abed3', endColorstr='#997abed3',GradientType=0 ); /* IE6-9 */
}

.delete {
    padding: 2px;
    cursor: pointer;
    color: #ffffff !important;
}

#slide-change-attivita .span12.add ul {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
}

#slide-change-attivita .span5 {
    padding-left: 20px;
}
/* sez
professionista
*/

article.c-professionals li span {
    border-right: none !important;
}

article.c-professionals li.title-professionals {
    background: none !important;
    border-right: none !important;
}
/*article.c-professionals li {
    border-right: 2px solid #77A7A9 !important;
    background: -moz-linear-gradient(top, rgba(119,167,169,0.6) 0%, rgba(119,167,169,0.6) 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,167,169,0.6)), color-stop(100%,rgba(119,167,169,0.6))) !important;
    background: -webkit-linear-gradient(top, rgba(119,167,169,0.6) 0%,rgba(119,167,169,0.6) 100%) !important;
    background: -o-linear-gradient(top, rgba(119,167,169,0.6) 0%,rgba(119,167,169,0.6) 100%) !important;
    background: -ms-linear-gradient(top, rgba(119,167,169,0.6) 0%,rgba(119,167,169,0.6) 100%) !important;
    background: linear-gradient(to bottom, rgba(119,167,169,0.6) 0%,rgba(119,167,169,0.6) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9977a7a9', endColorstr='#9977a7a9',GradientType=0 ) !important;
}*/

/*
ADD PROFESSIONISTI
*/

.add input[type="text"] {
    display: inline !important;
    float: left !important;
}

.editing article.c-professionals input[type="checkbox"], .editing article.c-companies input[type="checkbox"], .editing article.c-operators input[type="checkbox"], .editing article.c-retailers input[type="checkbox"]{
    display: inline !important;
    width: 10% !important;
}
#edit-change-collaborazioni input[type="checkbox"]{
    width: 25px!important;
    display: inline-block;
    /*margin-top: 8px;*/
}
article.c-companies li, article.c-operators li, article.c-retailers li, article.c-professionals li {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dashed #EEEEEE;
    border-left: 3px solid #BA5433 !important;
    margin-bottom: 3px !important;
    clear: both;
}

article.c-professionals li {
    border-left-color: #77A7A9!important;
}
article.c-operators li{
    border-left-color: #A0C092!important;
}
article.c-retailers li{
    border-left-color: #E0CD78!important;
}

article.c-retailers .span12 input[type="text"], article.c-operators .span12 input[type="text"], article.c-companies .span12 input[type="text"],  article.c-professionals .span12 input[type="text"] {
    width: 95% !important;
}

article.c-retailers .change a, article.c-operators .change a, article.c-companies .change a, article.c-professionals .change a {
    margin-top: 20px !important;
}
.span12.add input[type="checkbox"] {
    display: inline;
    width: 3% !important;
}

/* edit area */
.change-btn{
    float: right;
    padding: 5px 30px 5px 10px;
    border: solid 1px #eee;
    background: #fff url('images/filter-down.png') no-repeat 95% 50%;
    font-size: 12px;
}
.action-btn{
    text-align: center;
}


.limited-height{
    max-height: 65px;
    overflow: hidden;
}
.no-limited-height{
    float: right;
    font-size: 12px;
    line-height: 1.8;
    padding: 5px;
}
.yes-limited-height{
    float: right;
    font-size: 12px;
    line-height: 1.8;
    padding: 5px;
}

/*
dialog
*/
/*
#edit-change-attivita h4 {
    color: #666666;
    font-size: 23px;
    margin-left: -10px !important;
}

.ui-corner-all {
    border-radius: 0px !important;
}

.ui-dialog .ui-dialog-buttonpane button {
    background-color: #EFE8E1;
    color: #817363;
    cursor: pointer;
    font-family: 'Titillium Web',sans-serif !important;
    margin: 0.5em 0.4em 0.5em 0;
    font-size: 13px;
    border: none !important;
}

.ui-state-hover {
    text-decoration: underline !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: none repeat scroll 0 0 #EFE8E1 !important;
    border: none !important;
    margin-right: 10px;
}

.ui-widget-header {
    background-color: #ffffff !important;
    border: none !important;
}

#edit-change-testobio input.span2 {
    display: inline;
    margin-left: 0 !important;
}

.ui-widget-content {
    border: 1px solid #EFE8E1;
}

#anagraficabase input[type="checkbox"], .span12.add input[type="checkbox"] {
    display: inline;
    width: 3% !important;
}

#edit-change-notebio.modifica {
    margin-left: -9px;
    margin-top: 30px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, form {
    font-family: 'Titillium Web',sans-serif !important;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
    background-image: url("images/close.png") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 62% auto !important;
    content: "x" !important;
}

.ui-dialog-title {
    color: #666666;
    font-family: 'Titillium Web',sans-serif !important;
    font-size: 23px;
    font-weight: normal;
    padding-top: 15px;
    margin-left: -15px;
}

span#ui-id-3 {
    margin-left: 5px !important;
}

#edit-change-foto input, #edit-change-testobio label {
    float: left;
    width: 50% !important;
}

#edit-change-foto .thumb-sk {
    float: left;
    width: 50% !important;
}



*/
/*
RICERCA
AVANZATA
*/

.sprite-search {
    background-image: url("images/sprite-search.png");
    background-position: left center;
    display: inline-block;
    height: 24px;
    margin-right: 8px;
    width: 26px;
}

.sprite-arrow {
    background-image: url("images/sprite-search.png");
    background-position: right 0;
    display: inline-block;
    float: right;
    height: 20px;
    width: 15px;
}

.span4.advanced-search {
    background: none repeat scroll 0 0 #F8F6F0;
    border: 2px solid #FFFFFF;
    height: 100%;
}

.advanced-search header {
    border-bottom: 1px solid #FFFFFF;
    font-size: 18px;
    padding: 15px;
    text-transform: uppercase;
}

.page-template-page-professionisti-tpl-php .span6 {
    width: 56.718% !important;
}

/*.page-template-page-professionisti-tpl-php article.span2 {
    margin-left: 2.8% !important;
}*/

/*.page-template-page-professionisti-tpl-php .span2:first-child {
    margin-left: inherit !important;
}*/

.widget.span3.widget_nav_menu {
    margin-left: 1.5% !important;
}

.title-research {
    background-color: #F1EDE2;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

.content-filter input {
    width: 5% !important;
    margin-right: 5px !important;
}

.content-filter {
    padding: 10px 20px;
}

.content-filter ul {
    padding: 10px 20px;
}

.content-checklist input {
    margin-top: -3px !important;
}

.content-checklist, .regioni-checklist, li.professioni-checklist {
    cursor: pointer;
    margin: 4px 0 !important;
}

ul.sub-checklist {
    background-color: #F4F1E9;
}

.title-research input.span12 {
    border-radius: 0 0 0 0 !important;
    margin-bottom: 0;
    font-family: 'Titillium Web',sans-serif !important;
}

.btn-research a {
    background-color: #7F7B77;
    color: #FFFFFF !important;
    display: inline-block;
    float: right !important;
    font-size: 16px !important;
    letter-spacing: 1px;
    padding: 5px 31px;
}

.btn-research {
    background: none repeat scroll 0 0 #F1EDE2;
    clear: both;
    height: 32px;
    padding: 10px 20px;
}

/*
NUOVO
PROGETTO
*/

p.control-group {
    position: relative !important;
}

#r012_form_progetto_id .control-group .error {
    position: absolute;
    right: 30px;
    top: 50px;
}

#r012_form_progetto_id {
    padding: 20px !important;
}

/*#progettobtn {
    font-size: 20px;
    margin: 40px 20px;
    padding: 24px;
    text-align: center;
    width: 97% !important;
}*/
.edit-project .action-btn .delete-btn{
    background: none repeat scroll 0 0 #BD362F;
    color: #FFFFFF;
}
.delete .icon-remove {
    margin: 4px;
}
.delete a, .delete i {
    color: #BD362F !important;
}

#r012_concept_project_id {
    width: 80% !important;
}

.span9 input {
    width: 85% !important;
}

.control-group.span9 input[type="checkbox"] {
    margin-top: -4px;
    width: 5% !important;
}

.r012-button-aggiungi {
    float: right;
}
/*
MODIFICA PROGETTO
*/
.modifica .single-image input[type="file"] {
    display: none;
}

/*
RESPONSIVE
*/

@media only screen and (min-width: 768px) and (max-width: 979px) {

    .content-aziende figure {
        max-height: 215px !important;
        overflow: hidden;
    }

    .advanced-search header {
        border-bottom: 1px solid #FFFFFF;
        font-size: 16px !important;
        padding: 15px;
        text-transform: uppercase;
    }

    .control-group.span6 {
        margin-left: 65px;
        width: 315px;
    }

    .r012-button-aggiungi {
        float: right;
        margin-right: -15px;
    }
}

/*
RICERCA
AVANZATA
*/

.ricerca-btn {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    float: right;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: -17px;
    /*margin-bottom: 15px;*/
}

.sprite-search {
    background-image: url("images/sprite-search.png");
    background-position: left center;
    display: inline-block;
    height: 24px;
    width: 26px;
}

.filter section.row-fluid {
    position: relative;
}

p.title-research.span3 {
    border-bottom: medium none !important;
    margin-left: inherit !important;
    border-top: none !important;
    margin-top: 5px;
}

.nominativo {
    padding: 4px 0;
    background-color: #EFE8E1;
}

.nominativo .span5 {
    margin-top: 5px;
}

/*.nominativo input.span5 {
    width: 40.1709% !important;
    border-radius: 0px !important;
    font-family: 'Titillium Web',sans-serif !important;
    margin-top: 10px;
}*/

.nominativo input.span5 {
    border-radius: 0 0 0 0 !important;
    float: left !important;
    font-family: 'Titillium Web',sans-serif !important;
    margin-top: 10px;
    width: 32.171% !important;
}

.content-research  {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    position: absolute;
    right: 0;
    z-index: 999;
    /*display: none !important;*/
}

.filter .row-fluid [class*="span"]:first-child{
    margin-left: 1.5% !important;
}
.sprite-arrow {
    background-image: url("images/sprite-search.png");
    background-position: right 0;
    display: inline-block;
    float: right;
    height: 20px;
    width: 15px;
}

/*
.span4.advanced-search {
    background: none repeat scroll 0 0 #F8F6F0;
    border: 2px solid #FFFFFF;
    height: 100%;
}

.advanced-search header {
    border-bottom: 1px solid #FFFFFF;
    font-size: 18px;
    padding: 15px;
    text-transform: uppercase;
}

.page-template-page-professionisti-tpl-php .span6 {
    width: 56.718% !important;
}

.page-template-page-professionisti-tpl-php article.span2 {
    margin-left: 2.8% !important;
}

.page-template-page-professionisti-tpl-php .span2:first-child {
    margin-left: inherit !important;
}

.widget.span3.widget_nav_menu {
    margin-left: 1.5% !important;
}*/

.title-research {
    background-color: transparent !important;
    border-bottom: 2px solid #EFE8E1 !important;
    border-top: 1px solid #FFFFFF;
    font-size: 18px;
    /*padding: 10px 20px;*/
    padding: 5px 0;
}

.content-filter input {
    width: 11% !important;
    margin-right: 5px !important;
}

.content-filter {
    padding: 0 5px !important;
}

.content-filter ul {
    padding: inherit !important;
}

.content-checklist input {
    margin-top: -3px !important;
}

.content-checklist {
    cursor: pointer;
    font-size: 14px;

}

ul.sub-checklist {
    background-color: #F4F1E9;
    border-bottom: 1px solid #cccccc;
    display: none;
}

ul.sub-checklist li{
    font-size: 12px;
    padding: 0 10px;
}

ul.sub-checklist li:last-child {
    margin-bottom: 4px !important;
}

.title-research input.span12 {
    border-radius: 0 0 0 0 !important;
    margin-bottom: 0;
    font-family: 'Titillium Web',sans-serif !important;
}

.btn-research a {
    background-color: #7F7B77;
    color: #FFFFFF !important;
    display: inline-block;
    float: right !important;
    font-size: 18px !important;
    letter-spacing: 1px;
    padding: 5px 75px;
}

.btn-research {
    border-top: 1px solid #EEEEEE !important;
    clear: both;
    height: 32px;
    padding: 10px 20px;
}

body .span12.content-research {
    display: none;
}
